body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

#branding {
    background: black;
    color: white;
    padding-top: 2px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

#branding img {
    width: 500px;
    height: 250px;
}

#branding {
    padding: 0px 0 0px 0;
}

.news {
    border: 6px solid grey;
    border-radius: 20px;
}

.info {
    border: 6px solid grey;
    border-radius: 20px;
}

.something {
    border: 6px solid grey;
    border-radius: 20px;
    width: 50%;
}

/* Header Styles */
.navbar {
    background: #ffffff;
}
  
.navbar-collapse .right {
    float: right;
}
  
.navbar-brand {
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 70px;
}
  
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}
  
.navbar ul.nav > li > a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
  
.navbar ul.nav > li > a:hover {
    background: #e7e7e7;
}
  
.padding-nav {
    padding-top: 10px;
}
  
.btn-primary {
    color: rgb(255, 255, 255);
    background: rgb(79, 191, 168);
    border-color: rgb(65, 179, 156);
}
  
#search .navbar-form {
    float: right;
}
  
#search {
    clear: both;
    border-top: solid 1px #9adacd;
    text-align: right;
}
  
#search .navbar-form .input-group {
    display: table;
}
  
#search .navbar-form .input-group .form-control {
    width: 100%;
}
  
#slider {
    margin-bottom: 40px;
}